
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    margin: 0;
}
title{
    display: block;
}
/* Style the form */
form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 120px;
}

/* Style form inputs */
input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

/* Change button color on hover */
input[type="submit"]:hover {
    background-color: #45a049;
}
.update-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}