<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site Title{% endblock %}</title>
    <style>
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'car_list' %}">Cars</a></li>
            <li><a href="{% url 'all_invoices' %}">All Invoices</a></li>
            <li><a href="{% url 'create_invoice' %}">Create Invoice</a></li>

            {% comment %} {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'car_list' %}">Cars</a></li>
            <li><a href="{% url 'all_invoices' %}">All Invoices</a></li>
            <li><a href="{% url 'create_invoice' %}">Create Invoice</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %} {% endcomment %}
        </ul>
    </nav>

    <!-- Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
