<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site Title{% endblock %}</title>
    <style>
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
        
            {% if user.is_authenticated %}
            {% if user.is_staff %}
                <!-- Admin-specific/ Seller content -->
                <div class="navbar">
                    <p>Welcome, Admin!</p>
                    <a href="{% url 'admin:index' %}" class="nav-link" target="_blank">Go to admin panel</a>

                    <ul class="nav-links">
                        <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                        <li><a href="{% url 'car_list' %}" class="nav-link">Cars</a></li>
                        <li><a href="{% url 'create_car' %}" class="nav-link">Create Car</a></li>
                        <li><a href="{% url 'all_invoices' %}" class="nav-link">All Invoices</a></li>
                        <li><a href="{% url 'create_invoice' %}" class="nav-link">Create Invoice</a></li>
                    </ul>
                    <a href="{% url 'logout' %}" class="nav-link logout">Logout</a>
                </div>
            {% else %}
                <!-- Normal user content -->
                <div class="navbar">
                    <p>Welcome, {{ user.username }}!</p>
                    <ul class="nav-links">
                        <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                        <li><a href="{% url 'car_list' %}" class="nav-link">Cars</a></li>
                    </ul>
                    <a href="{% url 'logout' %}" class="nav-link logout">Logout</a>
                </div>
            {% endif %}
        {% else %}
            <!-- Default content for unauthenticated users -->
            <div class="navbar">
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                    <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                    <li><a href="{% url 'signup' %}" class="nav-link">Signup</a></li>
                </ul>
            </div>
        {% endif %}
        
           
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
