<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site Title{% endblock %}</title>
    <style>
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'car_list' %}">Cars</a></li>
            
            <li><a href="{% url 'all_invoices' %}">all_invoices</a></li>
            <li><a href="{% url 'create_invoice' %}">invoice_create</a></li>
            {% comment %} <li><a href="{% url 'invoice_detail' %}">invoice_detail</a></li> {% endcomment %}
            <!-- Add more navbar links as needed -->
        </ul>
    </nav>

    <!-- Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
