{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Car Detail</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'car_detail.css' %}">
</head>
<body>
    <div class="card">
        <h1>Car Detail</h1>
        <!-- Display car image -->
        <img class='car-image' src="{{ car.image.url }}" alt="Car Image">
        <p>Make: {{ car.make }}</p>
        <p>Model: {{ car.model }}</p>
        <p>Year: {{ car.year }}</p>
        <p>VIN: {{ car.vin }}</p>
        <p>Mileage: {{ car.mileage }}</p>
        <p>Color: {{ car.color }}</p>
        <p>Body Style: {{ car.body_style }}</p>
        <p>Transmission: {{ car.transmission }}</p>
        <p>Fuel Type: {{ car.fuel_type }}</p>
        <p>Engine Size: {{ car.engine_size }}</p>
        <p>Drive Type: {{ car.drive_type }}</p>
        <p>Trim Level: {{ car.trim_level }}</p>
        
        {% if user.is_staff %}
            <!-- Delete button -->
            <form method="post" action="{% url 'delete_car' car.id %}">
                {% csrf_token %}
                <input type="submit" value="Delete" class="delete-btn">
            </form>
            
            <!-- Update button -->
            <a href="{% url 'update_car' car.id %}"><button class="update-btn">Update</button></a>
        {% else %}
            <!-- Add comment or remove the following line if no action is required for non-staff users -->
            <!-- <a href="{% url 'update_car' car.id %}"><button class="update-btn">Update</button></a> -->
        {% endif %}
    </div>
</body>
</html>
{% endblock %}
