<!-- car_list.html -->
{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'car_list.css' %}">
    <title>Car List</title>
</head>

<body>
    
    <h1>Car List</h1>
    <ul>
        {% for car in car_list %}
        
        <div class='card'>
            {% comment %} <li><a href="{% url 'car_detail' car.id %}">{{ car.make }} - {{ car.model }}</a></li> {% endcomment %}
            <a href="{% url 'car_detail' car.id %}">
            <img class='car-image' src="{{ car.image.url }}" alt="Car Image"><br />
            <p>{{ car.make }} - {{ car.model }}</p>
        </a>
        </div>
    
        {% endfor %}
        
    </ul>
</body>

</html>
{% endblock %}