{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'create_car.css' %}">
    <title>Create Car</title>
</head>
<body>
    <div class="card">
        <h1>Create Car</h1>
        <form method="post" enctype="multipart/form-data"> <!-- Add enctype="multipart/form-data" -->
            {% csrf_token %}
            {{ form.as_p }} 
             <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
{% endblock %}
